.git
.gitignore
.env
.env.*
!.env.example
node_modules
npm-debug.log
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.phpunit.result.cache
.phpactor.json
.DS_Store
Thumbs.db
.idea
.vscode
.fleet
.nova
.zed
Homestead.json
Homestead.yaml
auth.json
README.md
docker-compose.yml
docker-compose.prod.yml
tests
*.md

